* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

[href] {
  text-decoration: none;
  color: #000000;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.without-dot {
  list-style-type: none;
}

.specialization__title,
.team__title,
.clients__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .specialization__title,
.team__title,
.clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}
.header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
}
.header__logo-accent {
  display: inline;
  color: #2196f3;
}
.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__navigation-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__navigation-list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}
.header__navigation-item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__navigation {
    margin-bottom: 120px;
  }
}
.header__navigation-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__navigation-link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__navigation-link {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .header__navigation-link {
    padding: 32px 0;
  }
}
@media screen and (max-width: 767px) {
  .header__navigation-link:last-child {
    margin-bottom: 0;
  }
}
.header__navigation-link:hover, .header__navigation-link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__contacts {
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.header__contacts-envelope {
  display: none;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__contacts-envelope {
    display: block;
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-envelope {
    width: 16px;
    height: 12px;
  }
}
.header__contacts-phone {
  display: none;
  margin-right: 10px;
  fill: #757575;
}
@media screen and (min-width: 768px) {
  .header__contacts-phone {
    display: block;
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-phone {
    width: 10px;
    height: 16px;
  }
}
.header__contacts-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__contacts-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .header__contacts-link.phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__contacts-link.phone {
    font-size: 26px;
  }
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196f3;
}
.header__contacts-link:hover .header__contacts-envelope, .header__contacts-link:focus .header__contacts-envelope, .header__contacts-link:hover .header__contacts-phone, .header__contacts-link:focus .header__contacts-phone {
  fill: #2196f3;
}
.header__navigation-link.current::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation-link.current::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.extra-wrapper {
  z-index: 999;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .extra-wrapper {
    width: 320px;
    padding: 28px 20px;
  }
}
@media screen and (max-width: 767px) {
  .extra-wrapper {
    position: absolute;
    top: -20px;
    left: 0;
    display: block;
    width: 100%;
    background-color: #ffffff;
    padding: 48px 40px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }
}
@media screen and (min-width: 768px) {
  .extra-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .extra-wrapper {
    margin-left: 93px;
  }
}

.extra-wrapper.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__social {
  display: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .menu__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 12px;
    gap: 7px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .menu__social-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .menu__social-link {
    color: #2196f3;
  }
}

.current {
  color: #2196f3;
}

.btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .btn__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.btn__item {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__item:hover, .btn__item:focus {
  color: #ffffff;
  background-color: #188ce8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero__btn {
  padding: 10px 24px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url(../images/header-480-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/header-480-min.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url(../images/header-480@2x-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/header-480@2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url(../images/header-768-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/header-768-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url(../images/header-768@2x-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/header-768@2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url(../images/header-1200-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/header-1200-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url(../images/header-1200@2x-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/header-1200@2x-min.jpg);
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages.section {
    padding-bottom: 0;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.advantages__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  vertical-align: top;
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.advantages__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .advantages__subtitle {
    text-align: left;
  }
}
.advantages__descr {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.advantages__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.specialization {
  display: none;
  font-size: 0;
}
@media screen and (min-width: 1200px) {
  .specialization {
    display: block;
  }
}
.specialization__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.specialization__item-wrapper {
  position: relative;
}
.specialization__item-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.specialization__item-descr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team__inner {
  padding: 30px 0 24px 0;
}
.team__image {
  width: 100%;
}
.team__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__descr {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}
.social__link.bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link.bg-color:hover, .social__link.bg-color:focus {
  background-color: #2196f3;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.clients__link {
  padding: 15px 51px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .clients__link {
    padding: 15px 90px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    padding: 15px 59px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 15px 31px;
  }
}
.clients__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (min-width: 480px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:hover .clients__icon, .clients__link:focus, .clients__link:focus .clients__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    text-align: left;
    margin-bottom: 0;
  }
}
.footer__wrapper, .footer__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper, .footer__social {
    display: inline-block;
  }
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: #ffffff;
}
.footer__logo-accent {
  color: #2196f3;
}
.footer__list {
  font-style: normal;
}
.footer__address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin-bottom: 0;
  }
}
.footer__link {
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link[href*="https://goo"] {
  color: #ffffff;
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}
.footer__link-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social-call {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__social-call {
    text-align: left;
  }
}
.footer__social {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
.footer__wrapper, .footer__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper, .footer__social {
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper, .footer__social {
    margin-bottom: 0;
  }
}
.footer__social-icon {
  fill: #ffffff;
}

.footer__subscribe {
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: auto;
  }
}
.footer__subscribe-input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__subscribe-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    width: 358px;
    margin-bottom: 0;
  }
}
.footer__subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__subscribe-button {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 12px;
  }
}
.footer__subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
  }
}
.modal__close-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal__close-icon {
  cursor: pointer;
  fill: #000000;
}
.modal__close-icon:hover, .modal__close-icon:focus {
  fill: #2196f3;
}
.modal__form {
  text-align: center;
}
.modal__form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}
.modal__form-wrapper {
  text-align: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.modal__form-wrapper.mbz {
  margin-bottom: 0;
}
.modal__form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__form-input {
  padding: 11px 15px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__form-textarea {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal__form-textarea::-webkit-input-placeholder {
  font-size: 14px;
}
.modal__form-textarea::-moz-placeholder {
  font-size: 14px;
}
.modal__form-textarea:-ms-input-placeholder {
  font-size: 14px;
}
.modal__form-textarea::-ms-input-placeholder {
  font-size: 14px;
}
.modal__form-textarea::placeholder {
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .modal__form-textarea::-webkit-input-placeholder {
    font-size: 12px;
  }
  .modal__form-textarea::-moz-placeholder {
    font-size: 12px;
  }
  .modal__form-textarea:-ms-input-placeholder {
    font-size: 12px;
  }
  .modal__form-textarea::-ms-input-placeholder {
    font-size: 12px;
  }
  .modal__form-textarea::placeholder {
    font-size: 12px;
  }
}
.modal__form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
}
.modal__form-input:focus, .modal__form-textarea:focus {
  outline: 1px solid #2196f3;
}
.modal__form-input:focus + .modal__form-icon {
  fill: #2196f3;
}
.modal__form-policy {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal__form-policy {
    font-size: 14px;
  }
}
.modal__form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.modal__form-checked {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #212121;
}
.modal__form-checkbox:checked + .modal__form-checked {
  background-color: #2196f3;
  background-image: url(../images/checked.svg);
  background-origin: border-box;
  background-size: cover;
  background-position: center;
  border-color: #2196f3;
  fill: #ffffff;
}
.modal__form-checkbox:focus + .modal__form-checked {
  border-color: #2196f3;
}
.modal__form-link {
  color: #2196f3;
  text-decoration: underline;
}
.modal__form .btn {
  padding: 10px 52px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form .btn:hover, .modal__form .btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.works__item:hover, .works__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.works__item-wrapper {
  position: relative;
  overflow: hidden;
}
.works__item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .works__item-overlay {
    height: 100%;
    padding: 25px;
  }
}
@media screen and (min-width: 768px) {
  .works__item-overlay {
    height: 100%;
    padding: 52px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .works__item-overlay {
    height: 100%;
    padding: 63px 24px;
  }
}
.works__item-text {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .works__item-text {
    font-size: 14px;
  }
}
.works__inner {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.works__image {
  width: 450px;
}
.works__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.works__descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.works__link:hover .works__item-overlay, .works__link:focus .works__item-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile__button {
  display: inline-block;
  margin-left: auto;
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .mobile__button {
    display: none;
  }
}
.mobile__open {
  position: absolute;
  top: 50%;
  right: 10px;
}

.mobile__button.mobile-open {
  position: absolute;
  top: -50%;
  right: 0;
}

.mobile__icon {
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile__icon:hover {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .mobile__icon {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */