.hero {
  padding: 118px 0;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 200px 0;
  }

  background-color: $background-color;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
  url(../images/header-480-min.jpg);

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../images/header-480@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../images/header-768-min.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url(../images/header-768@2x-min.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../images/header-1200-min.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
        url(../images/header-1200@2x-min.jpg);
    }
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: 480px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 696px;
    margin-bottom: 30px;
  }
}