.social {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $clients-card-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: $second-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $white-color;
  }

  &__link.bg-color {
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: $second-color;
    }

  }
}