$main-color: #212121;
$second-color: #2196f3;
$third-color: #757575;
$black-color: #000000;
$white-color: #ffffff;
$background-color: #2f303a;
$background-color2: #f5f4fa;
$background-color-white: #ffffff;
$button-hover-bg-color: #188ce8;
$footer-link-color: rgba(255, 255, 255, 0.6);
$header-bottom-border: #ececec;
$card-bottom-border: #eeeeee;
$clients-card-color: #afb1b8;
$bg-social-footer: rgba(255, 255, 255, 0.1);